
@{
    ViewBag.Title = "Messages";
}

<h2>Messages</h2>

@section Scripts {
    <script>
        $(document).ready(function () {

            $('.messages-link').addClass('active');
            
        });
    </script>
}