@using PurpleNetwork.Models

@model IEnumerable<UserSearchViewModel>


<div id="userSearchListDiv">
    @{Html.RenderAction("UserSearchList", "Home", new { Model = Model });}
</div>

<div id="loadingDiv" class="preloader">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
